---
import ConfirmationBox from "../components[admin]/ConfirmationBox.astro";
import Container from "../components[admin]/container.astro";
import Sidebar from "../components[admin]/sidebar.astro";

interface Props {
    pageName: string;
    pageTitle?: string;
    showOverlaw?: boolean;
}
const { pageTitle, pageName, showOverlaw } = Astro.props;

const adminCookie = Astro.cookies.get("admin");

let APIResponse;
try {
    const adminDetails = await fetch(
        Astro.site + "api/adminLogin/" + adminCookie?.value,
    );
    // console.log("cookie found- ",adminCookie?.value);

    APIResponse = await adminDetails.json(); 
    // console.log(APIResponse);

    if (APIResponse.xataResponse.status == 300) {
        // console.log("Page Name- "+pageTitle+ ", Error in authentication Admin");
        return Astro.redirect("/admin/signin/");
    } else {
        // console.log("Page Name- "+pageTitle+ ", Admin Authenticated");
    }
} catch (error) {
    console.log("Error Found in AdminLayout- ", error);
}
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"/>
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
        <link rel="shortcut icon" href="/assets/images/adminFav.png" type="image/x-icon">
    <title>{pageTitle} - SMM Reviews Admin</title>
    </head>
    <body data-api-site={Astro.site}>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
        <script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <div class="dashboard-container w-full relative flex">
            <Sidebar isSuperUser={APIResponse.xataResponse.role == "superuser" && true}/>
            <Container
                pageTitle={pageName}
                userFullName={APIResponse.xataResponse.fullName || ""}>
                <div
                    id="app-root"
                    class="app-root-components-holder relative bg-[#efeef3] flex items-center flex-col h-[90vh] overflow-y-auto">
                    {
                        showOverlaw && (
                            <div class="fade-block-overlaw fixed mt-[10vh] top-0 left-0 size-full z-[1] bg-[#cfcfcf80]" />
                        )
                    }
                    <slot />
                </div>
            </Container>
        </div>
        <ConfirmationBox/>
    </body>
</html>

<script is:inline src="/assets/scripts/dashboard.js"></script>
<script is:inline>
    //#region Toast Notifications
    try {
        Toastify({
            text: document.querySelector("#toast").getAttribute("data-message"),
            duration: 3000,
            destination: document.querySelector("#toast").getAttribute("data-destination"),
            close: true,
            gravity: "bottom", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #5344f5, #3dbbc9)",
            },
            onClick: function () {}, // Callback after click
        }).showToast();

        if(document.querySelector("#toast").getAttribute("data-refresh") != null){
            setTimeout(function () {
                window.location.href = document.querySelector("#toast").getAttribute("data-refresh");
            }, 1200);
        }

    } catch (error) {
        console.log("This error might here because of Toaster not getting data in the initial phase. Ignore This!!", error);
    }
    //#endregion
</script>

<style is:inline>
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #979797;
        border-radius: 5px;
        margin-right: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #696969;
    }

    .options.hide {
        visibility: hidden;
    }

    .data-box {
        background-image: linear-gradient(45deg, black, transparent);
    }

    .data-content-row p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .dashboardStretch {
        width: 100% !important;
    }

    .side-menubar-container,
    .dashboard-component-container {
        transition: 0.5s all ease-in-out;
    }

    .sidebarHide {
        transform: translateX(-100%);
        visibility: hidden;
        z-index: 10;
    }

    @media (max-width: 800px) {
        .side-menubar-container {
            transform: translateX(-100%);
            visibility: hidden;
        }

        .sidebarHide {
            transform: translateX(0);
            visibility: visible;
            z-index: 10;
        }
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }

    td {
        text-align: center;
    }
</style>
