---
interface Props {
    pageTitle: string,
    userFullName: string,
}

const {pageTitle, userFullName} = Astro.props;
---
<div class="dashboard-component-container absolute right-0 h-full w-full lg:w-[80%] ">
    <div class="top flex justify-between items-center px-4 border-b-4 h-[10vh] text-sm lg:text-base">
        <div class="left flex justify-center items-center gap-3">
            <i id="menuToggleBtn" class="text-lg cursor-pointer fa-solid fa-bars"></i>
            <h2 id="pageTitle" class="lg:text-lg">{pageTitle}</h2>
        </div>
        <div class="right flex justify-center items-center gap-3">
            <div class="user bg-[#bebebe5e] ml-3 rounded-full pl-3 py-2 flex gap-2 justify-center items-center">
                <i class="fa-solid fa-user"></i>
                <span class="userName">{userFullName}</span>
                <i onclick="triggerMenu(this)"
                    class="optionTrigger h-6 w-6 rounded-full hover:bg-gray-400 flex justify-center items-center mx-4 cursor-pointer fa-solid fa-ellipsis-vertical"></i>
                <span
                    class="options hide min-w-[100px] absolute border border-[#8080802e] py-2 top-12 right-8 z-10 flex flex-col bg-white rounded-lg shadow-sm">
                    <ul>
                        <li class="p-2 cursor-pointer px-3 hover:bg-[#bebebe5e]"><a class="block w-full" href="/logout">Log Out</a></li>
                        <li class="p-2 cursor-pointer px-3 hover:bg-[#bebebe5e]"><a class="block w-full" href="/profile">My Profile</a></li>
                    </ul>
                </span>
            </div>
        </div>
    </div>

    <slot />
    
</div>