---
interface Props {
    service: {
        serviceLogo: {
            url: string;
        };
        serviceTitle: string;
        id: string;
    };
}

const { service } = Astro.props;
---

<span class="chip flex items-center gap-2 lg:gap-3 p-1 px-2 lg:p-2 rounded-full border bg-slate-300 hover:bg-slate-400 cursor-pointer text-xs lg:text-base">
    <img
        src={service.serviceLogo.url}
        alt={service.serviceTitle}
        class="rounded-full lg:size-10 size-7"
    />
    <span>{service.serviceTitle}</span>
    <i data-service-id={service.id} class="deleteBtn text-gray-400 fa-solid fa-circle-xmark hover:text-white cursor-pointer"></i>
</span>
