---
import AdminAuthLayout from "./layouts/adminAuthLayout.astro";
// import emailjs from '../../node_modules/@emailjs/browser';\
var form_message = "";
let isFormSubmitted = false;
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        
        const response = await fetch(Astro.site + "api/forgotPass.json", {
           method: "POST",
           body: data,
        }).then(res => res.json());

        if(response.message === "user found" && response.status == 200){

            const emailParams = {
                service_id: import.meta.env.PUBLIC_ForgotPass_SERVICE_ID,
                template_id: import.meta.env.PUBLIC_ForgotPass_TEMPLATE_ID,
                user_id: import.meta.env.PUBLIC_ForgotPass_PUBLICKEY,
                accessToken: import.meta.env.PUBLIC_ForgotPass_PRIVATEKEY,
                template_params: {
                    from_name: 'SMM Panel Admin',
                    to_name: response.userName,
                    message: `${response.rstPwd} is your reset password.`,
                    email_to: data.get("email")
                }
            };

            try {
                const emailJSresponse = await fetch('https://api.emailjs.com/api/v1.0/email/send', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(emailParams),
                });
                console.log(emailJSresponse);
                
                if (emailJSresponse.ok) {
                    console.log('SUCCESS!', emailJSresponse, emailJSresponse.status, emailJSresponse.text);
                    form_message = "Temporary Reset Password is sent to your Email. Use it for Signing in. Change it afterwards."
                } else {
                    const error = await emailJSresponse.json();
                    console.log('FAILED...', error);
                    form_message = "Temporary Reset Password is sent to your Email. Use it for Signing in. Change it afterwards."
                }
            } 
            catch (error) {
                console.log("Email JS error-", error);
            }
            isFormSubmitted = true;
        }
        else{
            form_message = "No such Username and Email found!!"
        }
    }
    catch (error) {
      if (error instanceof Error) {
         console.error(error.message);
      }
   }
}

---

<AdminAuthLayout title="Forgot Password">
    <h2 class="text-2xl font-bold">Forgot Password!!</h2>
    <h3 class="text-gray-400">No Worries, Reset Password Here</h3>
    {
       form_message != "" &&
       <span id="FormMessage" class="text-red-600 flex items-center w-full gap-2">
          <i class="text-xl fa-duotone fa-circle-exclamation"></i>
          <span>{form_message}</span>
       </span>
       
       <a href="/signin" class="rounded-full px-10 py-2 bg-blue-600 text-white w-fit cursor-pointer shadow-lg hover:bg-blue-800 hover:shadow-xl">Login</a>

    }
    {
        !isFormSubmitted &&
        <form method="post" class="flex flex-col gap-y-5 h-1/2 w-full" >
          <span class="relative w-full flex items-center">
             <i class="absolute left-5 fa-solid fa-user"></i>
             <input onkeyup="return forceLower(this);"
                required
                class="w-full border-2 border-blue-600 px-3 pl-10 py-2"
                type="text"
                name="username"
                id="username"
                placeholder="Enter your username"
             />   
          </span>
          <span class="relative w-full flex items-center">
             <i class="absolute left-5 fa-duotone fa-solid fa-envelope"></i>
             <input
                required
                class="w-full border-2 border-blue-600 px-3 pl-10 py-2"
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
             />
          </span>
          
            <span class="flex items-center lg:gap-7 gap-5">
                <button
                        id="loginBtn" type="submit"
                        class="rounded-full px-10 py-2 bg-blue-600 text-white w-fit cursor-pointer shadow-lg hover:bg-blue-800 hover:shadow-xl">Reset My Password</button>
                <a href="/signin" class="font-semibold text-blue-800">Login</a>
            </span>
        </form>
    }
</AdminAuthLayout>
